<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If you're bored...</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

        button:active, button.active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

    </style>
    
</head>
<body>
    <div class = "home">
        <button id = "home" onclick = "window.location.href='/home'">home</button>
    </div>
    <div class =  "intro">
        <h1>If you're bored...</h1>
        <p>Try a few of these simple exercises to help improve your mood and productivity!</p>
        <p> 1. Try journaling about <b>what makes you productive:</b></p>
    </script>
</div>

<label for="inputBox"></label>
<textarea id="inputBox" rows="5" cols="50"></textarea>

<button onclick="displayText()">add text to journal</button>

<div id="output"></div>

<script>
    function displayText() {
        var inputText = document.getElementById("inputBox").value;
        document.getElementById("output").innerHTML = "" + inputText;
    }
</script>
    </div>

    <p> 2. Get some movement in with <b>dance!</b></p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=X5HY_dEmkVMMQvM2&amp;list=PL3oR83GGTZrexHTHtnQiMgK_PAYBQK8CW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <div>
    
    
 </div>
</body>
</html>


</body>
</html>

</body>
</html>