<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styling.css"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>homepage</title>
</head>
<body>
  <nav class = "white center-align">
    <ul>
        <row>
      <li><a class = "black-text col" href ="/home">moodwise</a></li>
      <li><a class = "black-text col" href ="/journaling">journaling</a></li>
      <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
      <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li>
      <li><a class = "black-text col" href = "/todo">organize your tasks</a></li>
      </row>
    </ul>

  </nav>
    <h1 class = "center-align">moodwise</h1>
    <h3>We'll help you figure out your mood and then how to improve it with specific reccomendations! You can play games if you're bored, journal if you need to vent, and more!</h3>

</body>
</html>