<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styling.css"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>homepage</title>
    <style>
      body {
        background-color: lightblue; /* Set your desired background color */
      }
      .nav-color {
        background-color: rgb(170, 218, 233);
        color: black;
      }
  </style>
</head>
<body>
  <nav class = "nav-color center-align">
    <!-- //userinfo = sendInfo;
    userid = sendIfo[0];
    username = sendInfo[1] -->
    <ul>
        <row class = "nav-color">
      <li><a class = "nav-color" href ="/home">moodwise</a></li>
      <li><a class = "nav-color" href ="/journaling">journaling</a></li>
      <li><a class = "black-text col" href = "/journaling/viewJournals">view journals</a></li>
      <li><a class = "nav-color" href ="/moodtracker">mood tracker</a></li>
      <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
      <li><a class = "nav-color" href = "/todo">to-do</a></li>
      </row>
    </ul>

  </nav>
    <h1 class = "center-align">moodwise</h1>
    <p>User Data:</p>
    <ul>
        <li><strong>Username:</strong> <%= username %></li>
        <li><strong>userid:</strong> <%= user_id %></li>
        <!-- <li><strong>Email:</strong></li> -->
    </ul>
    <h6 class = "center-align">improve teen mental health & wellness - help individuals be more mindful & in touch with emotions - create consistency in mindful habits</h3>

</body>
</html>