<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journaling</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styling.css"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  <container>
    <nav class = "white center-align">
      <ul>
          <row>
        <li><a class = "black-text col" href ="/home">moodwise</a></li>
        <li><a class = "black-text col" href ="/journaling">journaling</a></li>
        <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
        <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li>
        <li><a class = "black-text col" href = "/todo">to-do</a></li>
        </row>
      </ul>

    </nav>
    
    <h1 class = "center-align">daily journal</h1>
    <br><br>
    <div class = "center-align">
      <h3>what's on your mind?</h2>
      <h4>if you need a prompt, click this button below:</h3>
      <a class = "btn white black-text" id="generateButton">give me a prompt</a>
    </div>

  <!-- display area for the randomly chosen prompt -->
    <p id="displayWord" class = "center-align"></p>
  </container>

  <script>
    // Word bank
    const wordBank = ["what are the top three things that you are grateful for today? why?", 
    "what is one thing that you have been putting off that you can do today?", 
    "what is one thing that you would like to learn more about? why?", 
    "what is one thing that you would like to improve about yourself? why?", 
    "what is one thing that you are looking forward to this week? why?", 
    "what is one thing that you are proud of yourself for accomplishing recently? why?", 
    "what is one thing that you would like to do differently in your life? why?", 
    "what is one thing that you would like to achieve in the next year? why?", 
    "what is one thing that you would like to let go of? why?", 
    "what is one thing that you would like to do more of? why?"];
  
    //generate random prompt
    function generateRandomPrompt() {
      //get a random index from the word bank
      const randomIndex = Math.floor(Math.random() * wordBank.length);
      
      //get the words at a random index
      const randomPrompt = wordBank[randomIndex];
      
      //display random words on the screen
      document.getElementById("displayWord").textContent = `${randomPrompt}`;
    }
  
    // button employs function
    document.getElementById("generateButton").addEventListener("click", generateRandomPrompt);
  </script>
  
    <div>

      <form id = "journaladd" action = "/addtojournal" method = "post">
      <label for="inputBox"></label>
      <input type = "text" name="inputBox" rows="5" cols="50">

      <div class = "center-align">
        <!-- <p class = "btn white black-text" onclick="displayText()">add text to journal</p> -->
        <input type = submit>
    </div>

    <div class = "center-align" id="output"></div>

    <!-- <script>
        function displayText() {
            var inputText = document.getElementById("inputBox").value;
            document.getElementById("output").innerHTML = "" + inputText;
        }
    </script> -->
    <div class = "center-align">
      <h4>after your done with your journal, try:</h3>
      <p class = "btn white black-text" id = "tracking your mood"  onclick="window.location.href='moodPages/moodtracker.html'">tracking your mood</p>
      <p class = "btn white black-text" id = "uploading a daily picture"  onclick="window.location.href='pictureupload.html'">uploading a daily picture</p>
    </div>
</body>
</html>