
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>picture upload!!</title>
    <!-- <link rel="stylesheet" href="/stylesheets/styling.css" /> -->
    <script src="/scripts/javascript.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav class = "white center-align">
    <ul>
        <row>
      <li><a class = "black-text col" href ="/home">moodwise</a></li>
      <li><a class = "black-text col" href ="/journaling">journaling</a></li>
      <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
      <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li>
      <li><a class = "black-text col" href = "/todo">to-do</a></li>
      </row>
    </ul>
  </nav>

  <h1>daily image</h1>
    <br><br>
    <h2>what happened today?</h2>
    
    <div class="first">
      <form id = "get images" method = "POST" action = "/uploadPictures" enctype="multipart/form-data">
        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"></p>
        <img id="output" width="200">
        <p><img id="output" width="200" /></p>
      </div>
      
      
      <script type="text/javascript">
        var loadFile = function(event) {
          var image = document.getElementById('output');
          image.src = URL.createObjectURL(event.target.files[0]);
        };
      </script>
    
  
    <label for="textinput">enter a caption:</label>
    <input type="text" id="textinput" name="textinput">
    <input type="submit">
  </form>
  
  <p id="output"></p>
  
  <script>
    function displayText() {
      const input = document.getElementById("text-input").value;
      document.getElementById("output").textContent = input;
    }
     </script>
    </body>



</html>