<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stressed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: lightblue;
        }
        .nav-color {
            background-color: rgb(170, 218, 233);
            color: black;
        }
        .button-color {
            background-color: rgb(199, 228, 237);
            color: black;
        }
        .custom-margin {
            margin-left: 20px;
            margin-right: 20px;
        }

        .button-color:hover {
            background-color:  rgb(122, 185, 206);
            color: white;
        }

        .custom-btm {
            margin-bottom: 20px;
        }

        #li_margin {
            margin-left: 20px;
            margin-top: 5px;
        }

    </style>
</head>
<body>
    <nav class = "nav-color center-align">
        <!-- //userinfo = sendInfo;
        userid = sendIfo[0];
        username = sendInfo[1] -->
        <ul>
            <row class = "nav-color">
          <li><a class = "nav-color" href ="/home">moodwise</a></li>
          <li><a class = "nav-color" href ="/journaling">journaling</a></li>
          <li><a class = "nav-color black-text col" href = "/journaling/viewJournals">view journals</a></li>
          <li><a class = "nav-color" href ="/moodtracker">mood tracker</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a class = "nav-color" href = "/todo">to-do</a></li>
          </row>
        </ul>
    </nav> 
    <li id = "li_margin"><strong>user</strong> <%= username %></li>
    <div class =  "custom-margin">
            <h1>if you're feeling stressed...</h1>
            <p>take a deep breath, it's all going to be OK :&#41</p>
            <p>1. practice some mindfulness through meditation:</p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWVS1recTqXhf?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 


            <p>2. take some time to do something that makes you happy, such as <b>movement or art!</b></p>

            <p>3. take some time away from the screen on a digital detox.</p>

            <p>4. learn more about stress, where it comes from, and what you can do to manage it.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/WuyPuH9ojCE?si=aFxnOEKg0nAtlDyr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <p>5. plan out your day with <b>to do list!</b></p>


            <p class = "btn button-color black-text" id = "journal"  onclick="window.location.href='/todo'">go to todo!</p>

    
    
    
    </div>
</body>
</html>


</body>
</html>

</body>
</html>