<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tired</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

        button:active, button.active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

    </style>
</head>
<body>
    <div class = "home">
        <button id = "home" onclick = "window.location.href='/home'">home</button>
    </div>
    <div class =  "intro">
        <h1>If you're feeling tired...</h1>
        <p>It's OK, you'll get through this!</p>
        <p>If you need to get some rest, here's a sleep meditation playlist:</p>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6X7wz4cCUBR6p68mzM7mZ4?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


    <p>If you need to stay awake right now, that's OK too! Here's some ways to try and get your energy up:</p>

    <p>        1. Listen to some upbeat, energizing music:</p> <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIeU3RFfPV9ui?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <p>        2. Energize yourself with active movement:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iWUaZfR-gWU?si=K6yLIkXJ-z4z3a3O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>        3. Speak to a friend or family member!</p>

    
    
    
    
 </div>
</body>
</html>


</body>
</html>

</body>
</html>