<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- <link rel="stylesheet" href="/styling.css"> -->
 
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>To-do List</title>
</head>
<body>
    <nav class = "white center-align">
        <ul>
            <row>
          <li><a class = "black-text col" href ="/home">moodwise</a></li>
          <li><a class = "black-text col" href ="/journaling">journaling</a></li>
          <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
          <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li>
          <li><a class = "black-text col" href = "/todo">to-do</a></li>
          </row>
        </ul>

      </nav>

    <div class = "container">
    <div>
        <h1>To-do List</h1>
        <p> organize and assess your tasks</p>
        
        <div class = "container">
        <div id = "newtask">
            <input type = "text" id = "txt" placeholder="add tasks">
            <a class = "btn"id="push">add</a>
         </div>
            
        <div id = "tasks">
        
        </div>
    </div>
</body>

<script src = "/scripts/todo.js"></script>

</html>