/* nav bar styling */
ul {
  list-style-type: none;
  background-color: #c1d2ad;
  overflow: hidden;
  padding: 1.1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 0.3em;
}

li a:hover {
  background-color: #43d6b9;
}

html {
  background: rgb(#ffff \\);
  font-family: "Jost", sans-serif;
  text-align: center;
}

body {
  background: rgb(239, 170, 199);
  width: 600px;
  margin: 0 auto;
  border: 8px solid rgb(255, 255, 255);
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 3px;
}

li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 3px;
}

.bold {
  font-weight: bold;
}

p.bold {
  text-decoration: underline;
}

li.bold {
  font-style: italic;
}

#plug {
  color: rgb(91, 5, 51);
}

img {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.button {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 3px;
  text-align: center;
}

.button-t {
  background-color: #2e8bd1;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 30%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-t:not(:disabled):hover,
.button-t:not(:disabled):focus {
  outline: 0;
  background: #2e8bd1;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-t:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}