<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- <link rel="stylesheet" href="/styling.css"> -->
 
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>to-do list</title>
    <style>
        .nav-color {
            background-color: rgb(170, 218, 233);
            color: black;
        }
        body {
            background-color: lightblue; /* Set your desired background color */
        }
        .button-color {
            background-color: rgb(199, 228, 237);
            color: black;
        }

        .button-color:hover {
            background-color:  rgb(122, 185, 206);
            color: white;
        }
        .input-color {
            background-color: rgb(197, 225, 232) !important;
        }
        .input-color::placeholder {
            color: rgba(0, 0, 0, 0.48);
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <nav class = "nav-color center-align">
        <ul>
            <row>
                <li><a class = "black-text col" href ="/home">moodwise</a></li>
                <li><a class = "black-text col" href ="/journaling">journaling</a></li>
                <li><a class = "black-text col" href = "/journaling/viewJournals">view journals</a></li>
                <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
                <!-- <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li> -->
                <li><a class = "black-text col" href = "/todo">to-do</a></li>
            </row>
        </ul>

      </nav>

    <div class = "container">
    <div>
        <h1>to-do list</h1>
        <p> organize and assess your tasks</p>
        

        <div class = "container">
        <div id = "newtask">
            <input class = "input-color" type = "text" id = "txt" placeholder="add tasks">
            <a class = "btn button-color"id="push">add</a>
         </div>

         <!-- <% try { %>
            <% if (tasks && tasks.length > 0) { %>
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <div class="container">
                        <div class="row">
                            <span class="col s3 left-align" id="taskname"><%= tasks[i].task_name %></span>
                            <a href="#" class="col s2 btn right-align offset-s6 delete-task">
                                <i class="far fa-trash-alt"></i>done
                            </a>
                            <p></p>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p>not tasks available</p>
            <% } %>
        <% } catch (error) { %>
            <p>error rendering tasks: <%= error.message %></p>
        <% } %> -->

            
        <div id = "tasks">
        
        </div>
    </div>
</body>

<script src = "/scripts/todo.js"></script>

</html>