<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "todo.css">
    <title>To-do List</title>
</head>
<body>
    <div class = "home">
        <button id = "home" onclick = "window.location.href='/home'">home</button>
    </div>
    <div>
        <h1>To-do List</h1>
        <p> organize and assess your tasks</p>
        
        <div class = "container">
        <div id = "newtask">
            <input type = "text" id = "txt" placeholder="add tasks">
            <button id="push">add</button>
         </div>
            
          <div id = "tasks">
        
    </div>
</body>
<script>
    
</script>

<script src = "todo.js"></script>

</html>