<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

        button:active, button.active {
            background-color:  rgb(4, 124, 164);
            color: white;
        }

    </style>
</head>
<body>
    <div class = "home">
        <button id = "home" onclick = "window.location.href='/home'">home</button>
    </div>
    <div class =  "intro">
        <h1>If you're feeling upset...</h1>
        <p>Don't worry, you'll get through this.</p>
        <p>1. Journal to express what you're feeling:</p>
        <p class = "btn white black-text" id = "journal"  onclick="window.location.href='journaling'">go to journal!</p>
         


    <p>2. Take some time to do something that makes you happy, such as <b>movement or art!</b></p>

    <p>3. Take some time away from the screen on a digital detox.</p>

    
    
    
 </div>
</body>
</html>


</body>
</html>

</body>
</html>