<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: lightblue; 
        }
        .nav-color {
            background-color: rgb(170, 218, 233);
            color: black;
        }
        .button-color {
            background-color: rgb(199, 228, 237);
            color: black;
        }
        .custom-margin {
            margin-left: 20px;
            margin-right: 20px;
        }

        .button-color:hover {
            background-color:  rgb(122, 185, 206);
            color: white;
        }

        .custom-btm {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class = "nav-color center-align">
        <!-- //userinfo = sendInfo;
        userid = sendIfo[0];
        username = sendInfo[1] -->
        <ul>
            <row class = "nav-color">
          <li><a class = "nav-color" href ="/home">moodwise</a></li>
          <li><a class = "nav-color" href ="/journaling">journaling</a></li>
          <li><a class = "nav-color black-text col" href = "/journaling/viewJournals">view journals</a></li>
          <li><a class = "nav-color" href ="/moodtracker">mood tracker</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a class = "nav-color" href = "/todo">to-do</a></li>
          </row>
        </ul>
    </nav> 
    <div class =  "custom-margin">
        <h1>if you're feeling upset...</h1>
        <p>don't worry, you'll get through this.</p>
        <p>1. journal to express what you're feeling:</p>
        <p class = "btn button-color black-text" id = "journal"  onclick="window.location.href='/journaling'">go to journal!</p>
         


        <p>2. take some time to do something that makes you happy, such as <b>movement or art!</b></p>

        <p>3. take some time away from the screen on a digital detox.</p>

    
    
    
    </div>
</body>
</html>


</body>
</html>

</body>
</html>