<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Your Journals</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styling.css"> -->
    <style>
        body{
            background-image: url('/linedpaper.jpeg')
        }
        
    </style>
</head>
<body>
    <nav class = "white center-align">
      <ul>
          <row>
        <li><a class = "black-text col" href ="/home">moodwise</a></li>
        <li><a class = "black-text col" href ="/journaling">journaling</a></li>
        <li><a class = "black-text col" href ="/moodtracker">mood tracker</a></li>
        <li><a class = "black-text col " href = "/pictureupload">upload your picture!!</a></li>
        <li><a class = "black-text col" href = "/todo">to-do</a></li>
        </row>
      </ul>

    </nav>
    <h1 class = "center-align">View Your Journals</h1>
    <div class="container">
        <% if (journals && journals.length > 0) { %>
            <ul>
                <% for (let i = 0; i < journals.length; i++) { %>
                    <li class = "center-align"><%= journals[i].text %></li>
                <% } %>
            </ul>
        <% } else { %>
            <p>No journals available.</p>
        <% } %>
    </div>
    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
