body {
    font-family: Arial;
    background: white;
    color: rgb(255, 211, 161);  
    background-color: beige;
}

h {
    text-align: center;
}

.intro {
    text-align: center;
}

button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;    
    vertical-align: top;    
    border: none;
    border-radius: 15px;
    transition: background-color, 0.15s;
    background-color: lightblue;
}

.active {
    background-color:  rgb(4, 124, 164);
    color: white;
}

button:active, button.active {
    background-color:  rgb(4, 124, 164);
    color: white;
}

button:hover{
    opacity: 0.6;
}

